<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myCheckbook</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
    <nav class="blue-grey">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">myCheckbook</a>
        </div>
    </nav>

    <div class="parallax-container">
        <div class="parallax"><img src="/img/checkbook.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">myCheckbook</h2>
            <p class="grey-text text-darken-3 lighten-3">Use this app to keep track of your finances. For each transaction you have, you can enter the transaction date, a description, and the amount of the debit or credit. You can easily see your total running balance at the click of a mouse!</p>
            <a href="/checkbook" class="waves-effect waves-light btn right">Get Started</a>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/img/buildings.jpg"></div>
    </div>

    <footer class="page-footer blue-grey text-darken-2">
        <div class="footer-copyright">
            <div class="container center">
                &copy; 2016 Brett Hartman
            </div>
        </div>
    </footer>
</body>
</html>